<h2>Friends</h2>
<%= link_to  "Friend requests", requests_path, class: 'profile-link'  %>
<% @friend_list.each do |friend| %>
    <div>
        <%= link_to friend.name, user_path(friend) %>
    </div>
<% end %>
